<!DOCTYPE html>
<html lang="fr" ng-app="quizzApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quizz Angular</title>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>


<body>
<div class="container">
    <h1>Quiz: Quel geek êtes-vous ?</h1>
    <p>Vous pourriez être surpris...</p>
    <div ng-controller="questionController">
        <div class="row">
            <div class="col-md-8">
                <h2>Progress : </h2>
                <div class="btn-toolbar">
                    <button class="btn"
                            ng-repeat="question in questions"
                            ng-class="{'btn-info': question.selected != null, 'btn-danger' : question.selected ===null}">
                        <span class="glyphicon"
                              ng-class="{'glyphicon-pencil':question.selected != null, 'glyphicon-question-sign':question.selected === null}">
                        </span>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <h4>Legend</h4>
                    <div class="col-sm-6">
                        <btn class="btn-info"> </btn>
                        <p>répondu</p>
                    </div>
                    <div class="col-sm-6">
                        <btn class="btn-danger"> </btn>
                        <p>en attente</p>
                    </div>
                </div>
            </div>
        </div>
        <form>
            <div class="well" ng-repeat="question in questions">
                <h1>{{question.label}}</h1>
                <ul>
                    <li ng-repeat="possibility in question.possibilities" ng-show="true">
                        <input type="radio" name="choices{{$index}}" ng-value="possibility"
                               ng-model="answer" ng-change="givePoints(answer)" required>
                        {{possibility.label}}
                    </li>
                </ul>
            </div>
            <div class="result" ng-repeat="answer in answers">
                <p>resultat categorie pour la question {{$index}} = {{answer.categorie}}</p>
                <p>Nombre de points : {{answer.point}}</p>
            </div>
        </form>
    </div>
</div>


<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="app.js"></script>
<script src="js/services/questionsFactory.js"></script>
</body>
</html>