<!DOCTYPE html>
<html lang="fr" ng-app="quizzApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quizz Angular</title>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../bower_components/angular-chart.js/dist/angular-chart.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>


<body>
<div class="container">
    <div class="page-header">
        <h1>Quiz: Quel geek êtes-vous ?</h1>
        <h3>Vous pourriez être surpris...</h3>
    </div>
    <div ng-controller="questionController">
        <div ng-hide="finalise || showResults">
            <div class="row">
                <div class="col-md-8">
                    <h2>Progress : </h2>
                    <div class="btn-toolbar">
                        <button class="btn"
                                ng-repeat="question in questions"
                                ng-class="{'btn-info': question.selected != null, 'btn-danger' : question.selected ===null}"
                                ng-click="setActiveQuestion($index)">
                        <span class="glyphicon"
                              ng-class="{'glyphicon-pencil':question.selected != null, 'glyphicon-question-sign':question.selected === null}">

                        </span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <h4 class="col-xs-12">Legend</h4>
                        <div class="col-xs-4">
                            <button class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></button>
                            <p>répondu</p>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-danger"><span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                            <p>en attente</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="alert alert-danger "
                     ng-show="error">
                    Hop hop hop !!! Vous devez répondre à toutes les questions !
                    <button class="close" ng-click="error=false">&times</button>
                </div>
                <div>
                    <h3>Question : </h3>
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>{{activeQuestion+1}}. {{questions[activeQuestion].label}}</h3>
                                <div class="row">
                                    <div class="col-sm-6"
                                         ng-repeat="possibility in questions[activeQuestion].possibilities">
                                        <h4 class="possibility"
                                            ng-class="{'bg-info' : questions[activeQuestion].selected ===$index}"
                                            ng-click="selectedPossibility($index)">{{possibility.label}}</h4>
                                    </div>
                                </div>
                                <button class="btn btn-warning" ng-click="nextQuestion()">Continuer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="well well-sm" ng-show="finalise">
            <h3>Prêt pour les résultats ?</h3>
            <button class="btn btn-success" ng-click="giveResults()">Oui</button>
            <button class="btn btn-danger" ng-click="finalise = false">Non</button>
        </div>
        <div class="results row" ng-show="showResults">
            <div class="textResult well well-lg col-sm-7">{{textResult}}</div>
            <div class="col-sm-5 ">
                <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels"
                        chart-legend="true">
                </canvas>
            </div>
            <button class="btn btn-primary btn-lg" ng-click="restart()">Recommencer</button>
        </div>
    </div>
</div>


<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/Chart.js/Chart.js"></script>
<script src="../bower_components/angular-chart.js/dist/angular-chart.js"></script>

<script src="app.js"></script>
<script src="js/services/questionsFactory.js"></script>
</body>
</html>